@import url(http://fonts.googleapis.com/css?family=Open+Sans);



a {
	color: #1c355e;
	font-size: 13px;
	text-decoration: none;
	font-weight: 600;
	font-family: 'Qanelas', Helvetica, Arial, Lucida, sans-serif;
}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
    position: fixed;
    width: 100%;
    display: block;
    background-color: #fff;
    z-index: 9999;
}

.inner {
	margin: 0 auto;
	max-width: 1316px;
	padding: 0 40px;
}
.container-fluid.container-footer .row.g-5 {
	margin: auto;
	max-width: 1316px;
}

.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #fff;
	border-bottom: 3px solid #54c0e8;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:15px;
}
.logo-desk {
	display: none;
}
.btn-lg {
	padding: 6px 12px !important;
}
@media all and (min-width: 900px) {
	.logo-desk.logo {
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
	}
	.logo-mobile {
		display: none !important;
	}
	.logo-desk {
		display: block;
	}
	#main-menu {
		display: flex;
		justify-content: center;
		float: none !important;
	}
}

#menu-toggle {
	display: none;
	float: right;
}
.icon-reorder:before {
    content: "\f0c9"
}
[class^="icon-"],[class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0
}

/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
	margin: 10px 0;
	padding-left: 2rem;
}

#main-menu > li {
	display: inline-block;
	margin-left: 40px;
	padding: 2px 0;
}

#main-menu > li.parent {
	background-image: url(../images/icons/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding-left: 14px;
}

#main-menu > li > a {
	color: #1c355e;
	font-size: 15px;
	font-weight: 600;
	line-height: 14px;
	padding: 20px 0;
	text-decoration:none;
	font-family: 'Qanelas', Helvetica, Arial, Lucida, sans-serif;
}

#main-menu > li:hover > a {
	color: #23dbdb;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: -30px;
	top: 18px;
	padding-top: 10px;
	position: absolute;
	width: 180px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #cccccc;
    border-top: none;
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 15px;
    padding: 12px 14px;
}

ul.sub-menu > li > a:hover {
	background-color: #2a2a2a; 
	color: #fff;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #23dbdb;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/icons/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}
.relative.mobile .logo{
	display: flex;
    justify-content: center;
}
@media all and (max-width: 900px) {

	#navigation {
		position: static;
		margin-top: 20px;
	}

	#menu-toggle {
		display: block;
		position: absolute;
		right: 15px;
		top: 25px;
	}

	#menu-toggle .icon-reorder {
		font-size: 32px;
		margin-top: 24px;
	}

	#main-menu {
		display: none;
		float: none;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		background-color: #1c355e;
		border: 1px solid #444;
		color: #fff;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
	}

	#main-menu li > a:hover {
		background-color: #444; 
	}

	#main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #444 !important;
	}

	ul.sub-menu > li > a.parent {
		background: #1c355e !important
	}
}
.copyright,.copyright a  {
	color: #b1b1b1;
	font-size: 11px;
}
.container-fluid.container-footer .col-lg-3 p {
	font-size: 14px;
}
.container-wrap .logo img {
	height: 80px;
	width: auto;
}
.container-fluid.bg-dark.text-secondary {
    background-color: #1c355e !important;    
}
.bi-arrow-right.text-primary {
    color: #54c0e8 !important;
}
.btn-primary.btn-lg-square {
    background-color: #54c0e8;
    border-color: #54c0e8;
}
.bi.text-primary {
    color: #54c0e8 !important;
}
.border-top.py-4.px-5 {
	background-color: #1C3454 !important;
}
.btn-primary.btn-lg-square.rounded-circle {
    color: #FFFFFF !important;
}
.divider {
	background-image: url('.././images/divider-grey.svg');
    background-size: 100% 35px;
    bottom: 0;
    height: 35px;
    z-index: 10;
    transform: rotate(180deg);
}
.divider-grey {
	background-image: url('.././images/divider-grey.svg');
	background-size: 100% 35px;
	top: 0;
	height: 35px;
	z-index: 10;
	transform: scale(1,1);
}
.divider-grey-bottom {
	background-image: url('.././images/divider-grey.svg');
	background-size: 100% 35px;
	top: 0;
	height: 35px;
	z-index: 10;
	transform: rotate(180deg);
}
.px-5.projects, .px-5.services, .about-wrap .container-fluid.p-0, .projects .container-fluid.bg-light {
    padding: 185px 3rem 40px 3rem !important;
}
.service-wrap .container-fluid.py-6.px-5 {
	padding-bottom: 50px;
}
.service-wrap .py-6, .projects .py-6 {
	max-width: 100% !important;
}
.icon-rating .d-flex.text-white .ps-4 p {
	font-family: "Open Sans",sans-serif;
}
.icon-rating {
	padding: 3rem;
}
@media screen and (max-width: 768px) {
	.about-wrap .py-6 {
		padding-top: 0;
    	padding-bottom: 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.icon-rating {
		padding: 2rem 0 0;
	}
	.icon-rating .d-flex.text-white {
		flex-direction: column;
   }
   .icon-rating .d-flex.text-white .rounded-circle {
		margin: auto;
   }
   .icon-rating .d-flex.text-white .ps-4 {
	text-align: center;
	padding-left: 0 !important;
   }
   
}
.about-wrap .text-primary, .projects .text-primary {
	color: #1c355e !important;
}
.about-wrap h3 {
	color: #fff !important;
}
.about-wrap .bi.text-primary, .projects .bi.text-primary {
	color: #54c0e8 !important;
}
.about-wrap .about {
	padding: 145px 0 0 0 !important;
}
.culture.about-wrap .container-fluid.p-0 {
	padding: 50px 0 !important;
}
.culture.about .container-fluid {
    max-width: 100%;
}
#about .single-well .sec-head {
	font-weight: 600;
}
@media screen and (max-width: 768px) {
	#about .single-well .sec-head {
		padding-top: 16px;
	}
}